[user]

	name = Vegard Bergsvik Ovstegard
    email = vegovs@gmail.com

[core]

    editor = vim 

[alias]

	hist = log --all --graph --decorate --oneline
	cm = commit
	s = status
	co = checkout
	br = branch
	up = rebase
	a = add
	pl = pull
	ph = push
